
@{
    ViewBag.Title = "Login";
}

<div style="display: grid; place-items: center;">
    <h2>Login</h2>
</div>
<br />
<div class="row justify-content-center align-items-center">
    <div class="col-md-12">
        <form class="text-center">
            <!-- Center the form horizontally -->
            <div class="form-group">
                <div class="col-md-5 text-right">
                    <label for="exampleFormControlInput2" class="form-label text-right">Global ID</label>
                </div>
                <div class="col-md-7">
                    <input type="text" class="form-control mx-auto text-left" id="exampleFormControlInput2" placeholder="Global ID">
                </div>
            </div>
            <br />
            <br />
            <div class="form-group">
                <div class="col-md-5 text-right">
                    <label for="exampleFormControlInput2" class="form-label text-right">Password</label>
                </div>
                <div class="col-md-7">
                    <input type="password" class="form-control mx-auto text-left" id="exampleFormControlInput2" placeholder="Password">
                </div>
            </div>
            <br />
            <br />
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>


